.jumbotron-fluid{
    background-image: url("./assests/background.jpg");
    background-position: center center;
background-size: 100%;


}
    

.container {
    text-align: center;
    color: #51614d 


}
